@home-border-radius: 3px;

.queue {
    padding: 0;
}

.home-left {
    background-color: @white;
    border-top-left-radius: @home-border-radius;
    border-bottom-left-radius: @home-border-radius;
}

.home-right {
    background-color: @teal;
    border-top-right-radius: @home-border-radius;
    border-bottom-right-radius: @home-border-radius;
    height: 500px;
}

.home-title {
    text-align: center;
    padding: 20px 30px;
    font-size: 16px;
}

.home-title .glyphicon {
    font-size: 20px;
}

.home-instructions {

}
