
.home,
.home>.container {
    height: 100%;
}

.center-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-left {
    text-align: center;
}

.login-right {
    border-left: 2px solid @lightgrey;
    background-image: url('../assets/images/login-right-bg.png');
    height: 600px;
}
