#node_modules
#public
#coverage
#.idea
#client/bower_components
dist/
#/server/config/local.env.js
client/uploads
.gitignore
.tmp
npm-debug.log
server/config/environment/development.js
server/config/environment/index.js
