@login-margins: 5px;

#login-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.login-background {
    background-image: url('../assets/images/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-background-description {
    top: 15%;
    text-align: center;
    font-size: 40px;
    color: @darkgrey;
    font-weight: 300;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.7);
}

.login-box {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    width: 400px;
    max-width: 88%;
}

.login-text {
    color: @darkgrey;
    font-weight: 300;
    font-size: 30px;
    margin: 25px 0 40px;
    text-shadow: 0 1px rgba(0,0,0,0.5);
}

.login-title {
    font-size: 30px;
    font-weight: 300;
    color: @babyblue;
}

.btn-facebook {
    display: inline-block;
    background-color: @loginblue;
    padding: 16px 22px;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    .user-select-none;
}

.btn-facebook>i {
    font-size: 20px;
    margin-right: 10px;
}

.back-home {
    margin: 20px 0;
}

@media screen and (max-height: 768px) {
    .login-box {
        top: 40%;
    }
}

@media screen and (max-height: 600px) {
    .login-box {
        top: 50%;
    }
}

@media screen and (max-height: 435px) {
    .login-box {
        top: 0;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .login-text {
        font-size: 22px;
        color: @darkgrey;
        text-shadow: 0px 1px rgba(0,0,0,0.5);
    }
}
