<!-- Queue Modal -->
<div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueModal" ng-if="qm.mode == 'desktop'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" ng-class="{'confirm': qm.current_stage == qm.num_stages}">
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>

                <!-- Title -->
                <h4 class="modal-title" ng-show="qm.current_stage < qm.num_stages">Queue for Event</h4>
                <h4 class="modal-title" ng-show="qm.current_stage == qm.num_stages">Confirm Event Preferences</h4>
            </div>

            <!-- Queue stage tabs -->
            <div class="modal-body">
                <div ng-hide="true">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#stage1" aria-controls="stage1" role="tab" data-toggle="tab" onclick="return false;">Datetime</a></li>
                        <li><a href="#stage2" aria-controls="stage2" role="tab" data-toggle="tab" onclick="return false;">Activity</a></li>
                        <li><a href="#stage3" aria-controls="stage3" role="tab" data-toggle="tab" onclick="return false;">Location</a></li>
                        <li><a href="#stage4" aria-controls="stage4" role="tab" data-toggle="tab" onclick="return false;">Invite</a></li>
                        <li><a href="#stage5" aria-controls="stage5" role="tab" data-toggle="tab" onclick="return false;">Confirmation</a></li>
                    </ul>
                </div>

                <div class="tab-content" id="queueTabs">

                    <!-- Date/time tab -->
                    <div role="tabpanel" class="tab-pane fade in active" id="stage1">
                        <div class="queue-modal-title">DATE AND TIME</div>
                        <div class="queue-modal-subtitle">Select a date and time of when you are available.</div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <!-- Date Input -->
                        <div class="datetime-input-container">
                            <i class="material-icons queue-icons" top>event</i>
                            <div class="input-field date-input">
                                <input ng-model="qm.queue.date" id="datepicker" class="datepicker" placeholder="Select a date">
                            </div>
                        </div>

                        <!-- Time Input -->
                        <div class="datetime-input-container valign-wrapper">
                            <i class="material-icons queue-icons">access_time</i>
                            <span class="time-text">From</span>
                            <div class="input-field times-input">
                                <input id="start_timepicker" class="start-timepicker" ng-model="qm.queue.time.start" placeholder="Select a time">
                            </div>
                            <span class="time-text">to</span>
                            <div class="input-field times-input">
                                <input id="end_timepicker" class="end-timepicker" ng-model="qm.queue.time.end" placeholder="Select a time">
                            </div>
                        </div>
                    </div>

                    <!-- Activity Type tab -->
                    <div role="tabpanel" class="tab-pane fade stage2" id="stage2">
                        <div class="queue-modal-title">ACTIVITY TYPE</div>
                        <div class="queue-modal-subtitle">
                            Select one or more <span class="baby-text">activity types</span> that you would like your event to be.
                        </div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <div class="row">
                            <!-- Active checkbox -->
                            <div class="col-xs-4">
                                <input type="checkbox" class="filled-in" id="active-checkbox" ng-model="qm.queue.activity.active">
                                <label for="active-checkbox" class="active-cb-label">Active</label>
                            </div>

                            <!-- Social checkbox -->
                            <div class="col-xs-4">
                                <input type="checkbox" class="filled-in" id="social-checkbox" ng-model="qm.queue.activity.social">
                                <label for="social-checkbox" class="social-cb-label">Social</label>
                            </div>
                        </div>
                    </div>

                    <!-- Location tab -->
                    <div role="tabpanel" class="tab-pane fade stage3" id="stage3">
                        <div class="queue-modal-title">LOCATION PREFERENCE</div>
                        <div class="queue-modal-subtitle">
                            Select your preferred event location.
                        </div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <i class="material-icons queue-icons">location_on</i>
                        <select class="location-select browser-default" ng-model="qm.queue.location">
                            <option value="" disabled selected>Select a location</option>
                            <option value="Toronto">Toronto</option>
                        </select>
                    </div>

                    <!-- Invite friend tab -->
                    <div role="tabpanel" class="tab-pane fade stage4" id="stage4">
                        <div class="queue-modal-title">QUEUE WITH A FRIEND</div>
                        <div class="queue-modal-subtitle">
                            If you want to invite a friend to queue with you, enter their email below.
                        </div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <i class="material-icons queue-icons">email</i>
                        <input ng-model="qm.queue.email" placeholder="Enter email">
                    </div>

                    <!-- Confirmation tab -->
                    <div role="tabpanel" class="tab-pane fade stage5" id="stage5">
                        <div class="confirm-instructions">
                            Please confirm the following information. If it all looks correct, confirm your queue!
                        </div>

                        <!-- Datetime -->
                        <div class="title">DATE AND TIME</div>
                        <div class="row">
                            <div class="col-sm-1 col-xs-2">
                                <i class="material-icons queue-icons">event</i>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                I am available to meet up on
                                <span class='bold pink-font'>{{ qm.queue.date }}</span>
                                between
                                <span class='bold pink-font'>{{ qm.queue.time.start }}</span>
                                and
                                <span class='bold pink-font'>{{ qm.queue.time.end }}</span>.
                            </div>
                        </div>

                        <hr>

                        <!-- Activity -->
                        <div class="title">ACTIVITY TYPE</div>
                        <div class="row">
                            <div class="col-sm-1 col-xs-2">
                                <i ng-show="qm.queue.activity.active && !qm.queue.activity.social" class="material-icons queue-icons">pool</i>
                                <i ng-show="qm.queue.activity.social && !qm.queue.activity.active" class="material-icons queue-icons">local_bar</i>
                                <i ng-show="qm.queue.activity.social && qm.queue.activity.active" class="material-icons queue-icons">beach_access</i>
                            </div>

                            <div class="col-sm-11 col-xs-10">
                                I prefer meeting people over
                                <span ng-show="qm.queue.activity.active && !qm.queue.activity.social" pinkfat>active</span>
                                <span ng-show="qm.queue.activity.social && !qm.queue.activity.active" bluefat>social</span>
                                <span ng-show="qm.queue.activity.active && qm.queue.activity.social">
                                    both
                                    <span pinkfat>active</span> and
                                    <span bluefat>social</span>
                                </span>
                                events.
                            </div>
                        </div>

                        <hr>

                        <!-- Location -->
                        <div class="title">LOCATION PREFERENCE</div>
                        <div class="row">
                            <div class="col-sm-1 col-xs-2">
                                <i class="material-icons queue-icons">location_on</i>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                I prefer meeting up for events in
                                <span pinkfat>{{ qm.queue.location }}</span>.
                            </div>
                        </div>

                        <hr>

                        <!-- Invite -->
                        <div class="title" ng-show="qm.queue.email">INVITE FRIEND</div>
                        <div class="row" ng-show="qm.queue.email">
                            <div class="col-sm-1 col-xs-2">
                                <i class="material-icons queue-icons">email</i>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                Send a queue invite to
                                <span pinkfat>{{ qm.queue.email }}</span>.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <!-- previous button -->
                <button class="prev-button left" ng-show="qm.current_stage > 1" ng-click="qm.prevStage()">
                    <i class="material-icons">chevron_left</i> PREVIOUS
                </button>

                <!-- next/confirm button -->
                <button class="next-button right" ng-click="qm.nextStage()" ng-class="{'confirm': qm.current_stage == qm.num_stages}">
                    <span ng-show="qm.current_stage < qm.num_stages">NEXT</span>
                    <span ng-show="qm.current_stage == qm.num_stages">CONFIRM</span>
                    <i class="material-icons">chevron_right</i>
                </button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<!-- Cancel event search modal -->
<div class="modal fade bs-example-modal-sm" id="cancelQueueModal" tabindex="-1" role="dialog" ng-if="qm.mode == 'desktop'" small>
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">Cancel Event Search</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to cancel the event search?</p>
            </div>
            <div class="modal-footer">
                <button yes data-dismiss="modal" ng-click="qm.cancelQueue()">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Event found modal  -->
<div class="modal fade" id="eventFoundModal" tabindex="-1" role="dialog" ng-if="qm.mode == 'desktop'" small>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">Event Found</h4>
            </div>
            <div class="modal-body">
                <p>An event has been found for you! Click the link below to view the event details.</p>
            </div>
            <div class="modal-footer">
                <button view data-dismiss="modal" ng-click="qm.viewEvent()">View Event</button>
            </div>
        </div>
    </div>
</div>

<!-- explore button -->
<div class="button-container">
    <a  id="explore-button"
        data-toggle="modal"
        data-target="#queueModal"
        ng-if="qm.queue_status == -1"
        ng-click="navbar.mobile_nav_open = !navbar.mobile_nav_open">
        Explore <i class="tiny material-icons">arrow_forward</i>
    </a>

    <!-- cancel queue -->
    <div id="cancel-queue" ng-if="qm.queue_status == 'Pending'">
        <div class="searching-text">
            Searching for event<span class="hidden-sm">...</span><br />
            <span class="subtext">You will be notified via email</span>
        </div>
        <div class="cancel-button-spinner"></div>
        <span data-toggle="modal" data-target="#cancelQueueModal">
            <button class="cancel-button"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Cancel event search"
                    ng-click="navbar.mobile_nav_open = !navbar.mobile_nav_open">
                <i class="material-icons">close</i>
            </button>
        </span>
        <div class="mobile-button-container">
            <button data-toggle="modal" data-target="#cancelQueueModal" ng-click="navbar.mobile_nav_open = !navbar.mobile_nav_open">
                Cancel
            </button>
        </div>
    </div>

    <!-- go to event button -->
    <a  id="event-button"
        ng-hide="qm.current_state == 'home.event'"
        ng-if="(qm.queue_status == 'Pending User Confirmation' || qm.queue_status == 'Confirmed')"
        title="Go to event"
        href="home/event/{{ qm.event.link }}" ng-click="navbar.mobile_nav_open = !navbar.mobile_nav_open">
        VIEW EVENT <i class="tiny material-icons">navigation</i>
    </a>
</div>
