<script>
/*<div old-id="queue-modal">
    <div class="queue-modal-overlay" ng-click="qm.close_queue_modal()"></div>
    <div class="queue-modal">
        <!-- Modal Header -->
        <div class="queue-modal-header valign-wrapper">
            {{ qm.status_title }}
            <i class="material-icons close-queue-modal-button" ng-click="qm.close_queue_modal()">close</i>
        </div>

        <!-- Modal Body -->
        <div class="queue-modal-body tab-content">
            <div class="confirmation tab-pane" role="tabpanel" id="queue-step-4"  ng-class="{'active': qm.current_stage == 4}">
                <div class="confirm-instructions">
                    Please confirm the following information. If it all looks correct, press the queue button!
                </div>

                <div class="confirm-stage" ng-repeat="step in qm.steps">
                    <hr ng-if="$index != 0">
                    <div class="queue-modal-title">{{ step.title }}</div>

                    <!-- Datetime -->
                    <div id="date-and-time" ng-if="step.stage == 'datetime'" class="confirm-step-container valign-wrapper">
                        <i class="material-icons queue-icons">event</i>
                        <div class="confirm-text">
                            I am available to meet up on
                            <span class='bold pink-font'>
                                {{ qm.get_full_date(qm.queue_date) }}
                            </span> between
                            <span class='bold pink-font'>
                                {{ qm.get_formatted_time(qm.queue_start_time) }}
                            </span>
                            and
                            <span class='bold pink-font'>
                                {{ qm.get_formatted_time(qm.queue_end_time) }}
                            </span>.
                        </div>
                    </div>

                    <!-- Activity Type -->
                    <div id="activity-type" ng-if="step.stage == 'activity_type'" class="confirm-step-container valign-wrapper">
                        <i ng-if="qm.active && !qm.social" class="material-icons queue-icons">pool</i>
                        <i ng-if="qm.social && !qm.active" class="material-icons queue-icons">local_bar</i>
                        <i ng-if="qm.social && qm.active" class="material-icons queue-icons">beach_access</i>
                        <div class="confirm-text">
                            I prefer meeting people over
                            <span ng-if="qm.active && !qm.social" class='bold pink-font'>
                                active
                            </span>
                            <span ng-if="qm.social && !qm.active" class="bold babyblue-font">
                                social
                            </span>
                            <span ng-if="qm.active && qm.social">
                                both
                                <span class='bold pink-font'>active</span> and
                                <span class='bold babyblue-font'>social</span>
                            </span>
                            events.
                        </div>
                    </div>

                    <!-- Location Preference -->
                    <div id="location-preference" ng-if="step.stage == 'location_pref'" class="confirm-step-container valign-wrapper">
                        <i class="material-icons queue-icons">location_on</i>
                        <div class="confirm-text">
                            I prefer meeting up for events in
                            <span class='bold pink-font'>{{ qm.get_location(qm.location) }}</span>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="stage tab-pane" rol"tab-pane" id="queue-step-{{$index + 1}}" ng-repeat="step in qm.steps" ng-class="{'active': $index+1 == qm.current_stage}">
                <div class="queue-modal-title">
                    {{ step.title }}
                    <!--<a class="queue-tooltip" data-position="right" data-delay="30" data-tooltip="{{step.tooltip}}"><i class="material-icons tooltip-icon">help</i></a>-->
                </div>
                <div class="queue-modal-subtitle" ng-bind-html="qm.to_html(step.subtitle)"></div>

                <!-- Errors -->
                <div class="queue-errors" type="{{ step.stage }}"></div>

                <!-- Datetime picker -->
                <div class="datetime-stage" ng-if="step.stage == 'datetime'">

                    <!-- Date Input -->
                    <div class="datetime-input-container valign-wrapper">
                        <i class="material-icons queue-icons">event</i>
                        <div class="input-field date-input">
                            <input ng-model="qm.queue_date" id="datepicker" class="datepicker" placeholder="Select a date">
                        </div>
                    </div>

                    <!-- Time Input -->
                    <div class="datetime-input-container valign-wrapper">
                        <i class="material-icons queue-icons">access_time</i>
                        <span class="time-text">From</span>
                        <div class="input-field times-input">
                            <input id="start_timepicker" class="start-timepicker" ng-model="qm.queue_start_time" placeholder="Select a time">
                        </div>
                        <span class="time-text">to</span>
                        <div class="input-field times-input">
                            <input id="end_timepicker" class="end-timepicker" ng-model="qm.queue_end_time" placeholder="Select a time">
                        </div>
                    </div>
                </div>

                <!-- Activity Types -->
                <div class="activity-stage" ng-if="step.stage == 'activity_type'">
                    <div class="row">
                        <!-- Active checkbox -->
                        <div class="col l4 m4 s4">
                            <input type="checkbox" class="filled-in" id="active-checkbox" ng-model="qm.active" ng-change="qm.toggle_activity('active')">
                            <label for="active-checkbox" class="active-cb-label">Active</label>
                        </div>

                        <!-- Social checkbox -->
                        <div class="col l4 m4 s4">
                            <input type="checkbox" class="filled-in" id="social-checkbox" ng-model="qm.social" ng-change="qm.toggle_activity('social')">
                            <label for="social-checkbox" class="social-cb-label">Social</label>
                        </div>

                    </div>
                </div>

                <!-- Location Preferences -->
                <div class="location-stage" ng-if="step.stage == 'location_pref'">
                    <i class="material-icons queue-icons">location_on</i>
                    <div class="location-select-wrapper">
                        <select class="location-select" ng-model="qm.location">
                            <option value="" disabled selected>Select a location</option>
                            <option ng-repeat="location in step.locations" value="{{location.city}}">{{location.city}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Footer -->
        <div class="queue-modal-footer">
            <!-- Submit button -->
            <div class="queue-confirm-container">
                <!-- previous button -->
                <a ng-show="qm.current_stage > 1" class="btn queue-prev-button" ng-click="qm.prev_stage()">
                    <i class="material-icons">chevron_left</i> PREVIOUS
                </a>

                <!-- next button -->
                <a class="btn queue-next-button" ng-click="qm.next_stage()" ng-class="{'queue-confirm-button': qm.current_stage == 4}">
                    {{ qm.next_or_queue }} <i class="material-icons">chevron_right</i>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>*/</script>

<!-- New Modal -->
<div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Close button -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>

                <!-- Title -->
                <h4 class="modal-title" ng-show="qm.current_stage < 4">Queue for event</h4>
                <h4 class="modal-title" ng-show="qm.current_stage == 4">Confirm event preferences</h4>
            </div>

            <!-- Queue stage tabs -->
            <div class="modal-body">
                <div ng-hide="true">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#stage1" aria-controls="stage1" role="tab" data-toggle="tab">Datetime</a></li>
                        <li><a href="#stage2" aria-controls="stage2" role="tab" data-toggle="tab">Activity</a></li>
                        <li><a href="#stage3" aria-controls="stage3" role="tab" data-toggle="tab">Location</a></li>
                        <li><a href="#stage4" aria-controls="stage4" role="tab" data-toggle="tab">Confirmation</a></li>
                    </ul>
                </div>

                <div class="tab-content" id="queueTabs">

                    <!-- Date/time tab -->
                    <div role="tabpanel" class="tab-pane fade in active" id="stage1">
                        <div class="queue-modal-title">DATE AND TIME</div>
                        <div class="queue-modal-subtitle">Select a date and time of when you are available.</div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <!-- Date Input -->
                        <div class="datetime-input-container">
                            <i class="material-icons queue-icons">event</i>
                            <div class="input-field date-input">
                                <input ng-model="qm.queue.date" id="datepicker" class="datepicker" placeholder="Select a date">
                            </div>
                        </div>

                        <!-- Time Input -->
                        <div class="datetime-input-container valign-wrapper">
                            <i class="material-icons queue-icons">access_time</i>
                            <span class="time-text">From</span>
                            <div class="input-field times-input">
                                <input id="start_timepicker" class="start-timepicker" ng-model="qm.queue.time.start" placeholder="Select a time">
                            </div>
                            <span class="time-text">to</span>
                            <div class="input-field times-input">
                                <input id="end_timepicker" class="end-timepicker" ng-model="qm.queue.time.end" placeholder="Select a time">
                            </div>
                        </div>
                    </div>

                    <!-- Activity Type tab -->
                    <div role="tabpanel" class="tab-pane fade stage2" id="stage2">
                        <div class="queue-modal-title">ACTIVITY TYPE</div>
                        <div class="queue-modal-subtitle">
                            Select one or more <span class="baby-text">activity types</span> that you would like your event to be.
                        </div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <div class="row">
                            <!-- Active checkbox -->
                            <div class="col-xs-4">
                                <input type="checkbox" class="filled-in" id="active-checkbox" ng-model="qm.queue.activity.active">
                                <label for="active-checkbox" class="active-cb-label">Active</label>
                            </div>

                            <!-- Social checkbox -->
                            <div class="col-xs-4">
                                <input type="checkbox" class="filled-in" id="social-checkbox" ng-model="qm.queue.activity.social">
                                <label for="social-checkbox" class="social-cb-label">Social</label>
                            </div>
                        </div>
                    </div>

                    <!-- Location tab -->
                    <div role="tabpanel" class="tab-pane fade stage3" id="stage3">
                        <div class="queue-modal-title">LOCATION PREFERENCE</div>
                        <div class="queue-modal-subtitle">
                            Select your preferred event location.
                        </div>

                        <!-- Errors -->
                        <div class="queue-errors" ng-show="qm.error">{{ qm.error.message }}</div>

                        <div class="wrapper">
                            <i class="material-icons queue-icons">location_on</i>
                            <div class="location-select-wrapper">
                                <select class="location-select browser-default" ng-model="qm.queue.location">
                                    <option value="" disabled selected>Select a location</option>
                                    <option value="Toronto">Toronto</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Confirmation tab -->
                    <div role="tabpanel" class="tab-pane fade stage4" id="stage4">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- previous button -->
                <button class="prev-button left" ng-show="qm.current_stage > 1" ng-click="qm.prevStage()">
                    <i class="material-icons">chevron_left</i> PREVIOUS
                </button>

                <!-- next/confirm button -->
                <button class="next-button right" ng-click="qm.nextStage()" ng-class="{'confirm': qm.current_stage == 4}">
                    <span ng-show="qm.current_stage < 4">NEXT</span>
                    <span ng-show="qm.current_stage == 4">CONFIRM</span>
                    <i class="material-icons">chevron_right</i>
                </button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<!-- explore button -->
<a  id="explore-button"
    class="btn waves-light waves-effect ng-scope"
    data-toggle="modal" data-target="#queueModal"
    ng-if="qm.queue_status == -1">
    Explore <i class="tiny material-icons">arrow_forward</i>
</a>

<!-- cancel queue -->
<div class="cancel-queue" ng-if="qm.queue_status == 'Pending'">
    <div class="searching-text">
        Searching for event<br />
        <span class="subtext">You will be notified via email</span>
    </div>
    <div class="cancel-button-spinner"></div>
    <a id="cancel-button" class="cancel-button modal-trigger queue-tooltip" data-position="bottom" data-tooltip="Cancel event search" href="#cancel-search">
        <i class="material-icons">close</i>
    </a>
</div>

<!-- go to event button -->
<a id="go-to-event-button" class="btn waves-light waves-effect" ng-if="(qm.queue_status == 'Pending User Confirmation' || qm.queue_status == 'Confirmed')" title="Go to event" href="home/event/{{ qm.event.link }}">
    VIEW EVENT <i class="tiny material-icons">arrow_forward</i>
</a>
