<div class="modal-header">
	<h3 class="modal-title">Edit Event</h3>
</div>
<div class="modal-body">
	<div class="row">
		<form class="col s12" name="createForm" ng-submit="vm.submit()">
			<div class="row">
				<div class="input-field col s6">
					<input ng-model="vm.create_activity" name="activity" type="text" class="validate">
					<label for="activity">Activity</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input ng-model="vm.create_venue" name="venue" type="text" class="validate">
					<label for="Venue">Venue</label>
				</div>
			</div>
			<input type="submit">
		</form>
	</div>
</div>