<div class="modal-header">
	<h3 class="modal-title">Edit Event</h3>
</div>
<div class="modal-body" style="padding: 0 50 0 50">
	<div class="row">
		<form class="col s12" name="createForm" ng-submit="vm.submit()">
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="vm.selectedEvent.activity" name="activity" type="text" class="validate">
					<label class="active" for="activity">Activity</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="vm.selectedEvent.venue.venue_name" name="venue" type="text" class="validate">
					<label class="active" for="Venue">Venue</label>
				</div>
			</div>
			<input class="waves-effect waves-light btn" type="submit">
		</form>
	</div>
</div>