<div class="modal-header">
	<h3 class="modal-title">Edit Event</h3>
</div>
<div class="modal-body">
	<div class="row">
		<form class="col s12" name="createForm" ng-submit="vm.submit()">
			<div class="row">
				<div class="input-field col s12">
				<select 
					ng-model="vm.selectedEvent.activity"
					ng-options="activity as activity.enum_name for activity in vm.allowedActivities track by activity.enum_name">
				</select>

					<label>Activity</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<select 
						ng-model="vm.selectedEvent.venue"
						ng-options="venue as venue.venue_name for venue in vm.allowedVenues track by venue.venue_name">
					</select>
					<label>Venue</label>
				</div>
			</div>


			<div class="row right-align">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>	
		</form>
	</div>
</div>