<div class="modal-header">
	<h3 class="modal-title">Add Users to Event</h3>
</div>
<div class="modal-body">
<form class="col s12" ng-submit="vm.submit()">
	<div class="section">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Activity Tags</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Queue Time (mins)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="queue in vm.queues">
					<td>{{queue.user.first_name + " " + queue.user.last_name}}</td>
					<td>{{queue.search_parameters.tags}}</td>
					<td>{{vm.getAge(queue.user.birthday)}}</td>
					<td>{{queue.user.gender}}</td>
					<td>15</td>
					<td><input type="checkbox" ng-model="vm.selected_queue[queue._id]" id="{{queue._id}}" />
					<label for="{{queue._id}}"></label></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div class="section">
			<div class="row right-align">
				<button class="btn waves-effect waves-light" type="submit" name="action">Save
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>