<div class="modal-header">
	<h3 class="modal-title">Add Users to Event</h3>
</div>
<div class="modal-body">
<form class="col s12" ng-submit="vm.submit()">
	<div class="section">
		<table class="responsive-table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Activity Tags</th>
					<th>Age</th>
					<th>Gender</th>
					<th>
						DT Start
					</th>
					<th>
						DT End
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="queue in vm.queues">
					<td><p ng-repeat="user in queue.users">{{user.first_name + " " + user.last_name}}</p></td>
					<td>{{queue.search_parameters.tags}}</td>
					<td><p ng-repeat="user in queue.users">{{vm.get_age(user.birthday)}}</p></td>
					<td><p ng-repeat="user in queue.users">{{user.gender}}</p></td>
					<td>{{vm.get_formatted_date(queue.search_parameters.event_search_dt_start)}}</td>
					<td>{{vm.get_formatted_date(queue.search_parameters.event_search_dt_end)}}</td>
					<td><input type="checkbox" ng-model="vm.selected_queue[queue._id]" id="{{queue._id}}" />
					<label for="{{queue._id}}"></label></td>
				</tr>
			</tbody>
		</table>
	</div>
		<div class="section">
			<div class="row right-align">
				<button class="btn waves-effect waves-light" type="submit" name="action">Save
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
