/* Global welcome styles
=============================== */

.welcome,
.welcome>.container {
    height: 100%;
}

/* Left Side
================================ */

.login-left {
    padding: 2%;
}

.login-logo {
    width: 70%;
    height: auto;
    padding: 5%;
}

.center-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-left {
    text-align: center;
}

.welcome section {
    margin: 5% 0;
    font-size: 18px;
}

.welcome input {
    width: 100%;
    border: 2px solid @lightgrey;
    padding: 8px 15px;
    border-radius: 2px;
    transition: border 0.5s ease-out;
}

.welcome input:focus {
    border: 2px solid @teal;
}

.login-section {
    height: 160px;
    overflow: hidden;
    opacity: 1;
    transition: height 0.5s ease-out, opacity 0.35s ease-out;
}

.welcome button,
.welcome button:active {
    margin: 5%;
    width: 50%;
    background-color: @purple;
    opacity: 0.9;
    color: @white;
    border-radius: 3px;
    border: none;
    padding: 12px 15px 10px;
    outline: none;
    transition: color 0.35s ease-out;
}

.welcome button:hover {
    opacity: 1;
}

.loading {
    background-image: url('../assets/images/loading.svg');
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center;
    color: @invisible !important;
    transition: color 0s !important;
}

.status-ok {
    height: 0 !important;
    opacity: 0 !important;
}

.welcome input[type='email'] {
    outline: none;
}

.login-status {
    font-size: 18px;
}

/* Right Side
================================ */

.login-right {
    padding: 3% 5%;
    border-left: 2px solid @lightgrey;
    background-image: url('../assets/images/login-right-bg.png');
    background-size: cover;
}

.login-status.invalid {
    color: @pinkred;
}

.login-large {
    font-size: 60px;
    margin-bottom: 25px;
}

.login-medium {
    font-size: 24px;
}

/* Mobile
================================ */
@media screen and (max-width: 992px) {

    .login-logo {
        width: 50%;
        height: auto;
        padding: 5%;
    }

    .login-right {
        border: none;
        border-top: 2px solid @lightgrey;
        padding-left: 0;
        padding-right: 0;
        margin: 0 5%;
    }

}
