/*
    logo: 5pm-logo.png
    home bg: home-bg.jpg
    feature 1: home-connect.png
    feature 2: home-event-image.png
    signup bg: home-signup-bg.png
*/

/* back to top */
.cd-top {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: fixed;
  border-radius: 15px;
  bottom: 40px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-align: center;
  color: #ffffff !important;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* Welcome landing
===========================================================*/
.welcome-landing {
    background-image: url('../../assets/images/home-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

.logo-container {
    margin-top: 30px;
    .user-select-none;
}

.welcome-navigation {
    text-align: right;
}

.welcome-signup-button,
.welcome-login-button {
    display: inline-block;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.welcome-signup-button {
    border-radius: 2px;
    border: 2px solid @white;
    padding: 8px 30px;
    margin-right: 50px;
}

.welcome-signup-button:hover {
    background-color: @white;
    color: #223e88;
    font-weight: 700;
}

.welcome-login-button:hover {
    color: @white;
    font-weight: 700;
}

.welcome-text-row {
    margin-top: 40vh;
    transform: translateY(-50%);
}

.welcome-description {
    letter-spacing: 1.25px;
    text-align: center;
    color: @white;
    font-size: 50px;
    font-weight: 300;
}

.welcome-discover {
    text-align: center;
}

.welcome-discover-button {
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 14px 50px;
    border-radius: 2px;
    background-color: @pink;
    font-weight: 700;
    cursor: pointer;
    color: @white;
    text-align: center;
    .user-select-none;
}

.welcome-discover-button:hover {
    color: @white;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
}

/* Welcome Info
===========================================================*/
.welcome-info {
    background-color: @white;
    padding: 80px 0;
}

.welcome-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1px;
}

.welcome-text {
    font-size: 16px;
    line-height: 2;
    color: @darkgrey;
}

.mini-divider {
    margin: 60px auto;
    width: 60px;
    height: 3px;
    background-color: @babyblue;
}

.welcome-feature {
    font-size: 20px;
    font-weight: 300;
}

.welcome-opportunities {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 300;
}

/* Feature one
=============================================*/
.welcome-feature-one {
    padding: 60px 0;
    background-color: @BGcolor;
}

.welcome-subtitle {
    font-weight: 700;
    letter-spacing: 1.25px;
    font-size: 16px;
    color: @middlegrey;
    text-transform: uppercase;
}

/* Feature two
=============================================*/
.welcome-feature-two {
    padding: 60px 0;
    background-color: @white;
}

.cartoon-2>img {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
}

.welcome-title.align-left {
    text-align: left;
}

.welcome-feature-two .welcome-title {
    margin-bottom: 60px;
}

.purple-signup {
    margin-top: 30px;
}

.purple-signup-button {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 12px 35px;
    border-radius: 2px;
    background-color: @purple;
    color: @white;
}

.purple-signup-button:hover {
    color: @white;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.35);
}

/* Welcome signup
==============================================*/
.welcome-signup {
    background-image: url('../../assets/images/home-signup-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.welcome-signup-title {
    color: @white;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.welcome-signup-text {
    color: @white;
    font-size: 16px;
}

.welcome-signup-final {
    margin-top: 60px;
}

.welcome-signup-final-button {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 12px 35px;
    border: 2px solid @white;
    border-radius: 2px;
    color: @white;
}

.welcome-signup-final-button:hover {
    background-color: @white;
    color: #30babc;
    font-weight: 900;
}

.footer {
    background-color: @footerblue;
    padding: 30px 0;
    color: @white;
}

.footer .row {
    margin-bottom: 0;
}

.footer-social-media>a {
    opacity: 0.8;
}

.footer-social-media>a:hover {
    opacity: 1;
}

.footer-social-media img {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {

    .welcome-description {
        margin-top: 25%;
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .cartoon-2 {
        display: none !important;
    }

    .feature-text {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 600px) {

    .welcome-signup-button,
    .welcome-login-button {
        font-size: 12px;
    }

    .welcome-signup-button {
        display: block;
        width: 120px;
        margin-right: 0;
        margin-left: auto;
    }

    .welcome-info {
        padding: 40px 0;
    }

    .welcome-title {
        font-size: 30px;
    }

    .welcome-text {
        font-size: 14px;
    }

    .welcome-login-button {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: 0;
        width: 120px;
    }

    .welcome-description {
        margin-top: 30%;
        font-size: 30px;
    }

    .welcome-discover {
        font-size: 14px;
        padding: 10px 45px;
    }

    .welcome-discover-button {
        font-size: 14px;
        padding: 12px 40px;
        margin-top: 18px;
    }

    .description-row {
        display: block;
    }

    .mini-divider {
        margin: 40px auto;
    }

    .welcome-feature {
        font-size: 18px;
    }

    .welcome-opportunities {
        font-size: 22px;
    }

    .cartoon-1>img {
        width: 70%;
        height: auto;
        margin-bottom: 30px;
    }

    .cartoon-2 {
        display: none !important;
    }

    .welcome-feature-two .welcome-title {
        margin-bottom: 35px;
    }

    .welcome-signup-title {
        font-size: 30px;
    }

    .welcome-signup-text {
        font-size: 14px;
    }

}
