<div id="queue-modal">
    <div class="queue-modal-overlay" ng-click="navbar.close_queue_modal()"></div>
    <div class="queue-modal">
        <!-- Modal Header -->
        <div class="queue-modal-header valign-wrapper">
            QUEUE FOR EVENT
            <i class="material-icons close-queue-modal-button" ng-click="navbar.close_queue_modal()">close</i>
        </div>

        <!-- Modal Body -->
        <div class="queue-modal-body">
            <div class="stage" ng-repeat="step in navbar.steps">
                <hr ng-if="$index != 0">
                <div class="queue-modal-title">
                    {{step.title}}
                    <a class="queue-tooltip" data-position="right" data-delay="30" data-tooltip="{{step.tooltip}}"><i class="material-icons tooltip-icon">help</i></a>
                </div>
                <div class="queue-modal-subtitle" ng-bind-html="navbar.to_html(step.subtitle)"></div>

                <!-- Errors -->
                <div class="queue-errors" type="{{ step.stage }}"></div>

                <!-- Datetime picker -->
                <div class="datetime-stage" ng-if="step.stage == 'datetime'">

                    <!-- Date Input -->
                    <div class="datetime-input-container valign-wrapper">
                        <i class="material-icons queue-icons">event</i>
                        <div class="input-field date-input">
                            <input ng-model="navbar.queue_date" id="datepicker" class="datepicker" placeholder="Select a date">
                        </div>
                    </div>

                    <!-- Time Input -->
                    <div class="datetime-input-container valign-wrapper">
                        <i class="material-icons queue-icons">access_time</i>
                        <span class="time-text">From</span>
                        <div class="input-field times-input">
                            <input id="start_timepicker" class="start-timepicker" ng-model="navbar.queue_start_time" placeholder="Select a time">
                        </div>
                        <span class="time-text">to</span>
                        <div class="input-field times-input">
                            <input id="end_timepicker" class="end-timepicker" ng-model="navbar.queue_end_time" placeholder="Select a time">
                        </div>
                    </div>
                </div>

                <!-- Activity Types -->
                <div class="activity-stage" ng-if="step.stage == 'activity_type'">
                    <div class="row">
                        <!-- Active checkbox -->
                        <div class="col l4 m4 s4">
                            <input type="checkbox" class="filled-in" id="active-checkbox" ng-model="navbar.active" ng-change="navbar.toggle_activity('active')">
                            <label for="active-checkbox" class="active-cb-label">Active</label>
                        </div>

                        <!-- Social checkbox -->
                        <div class="col l4 m4 s4">
                            <input type="checkbox" class="filled-in" id="social-checkbox" ng-model="navbar.social" ng-change="navbar.toggle_activity('social')">
                            <label for="social-checkbox" class="social-cb-label">Social</label>
                        </div>

                        <!-- Both checkbox -->
                        <div class="col l4 m4 s4">
                            <input type="checkbox" class="filled-in" id="both-checkbox" ng-model="navbar.both" ng-change="navbar.toggle_activity('both')">
                            <label for="both-checkbox" class="both-cb-label">Both</label>
                        </div>
                    </div>
                </div>

                <!-- Location Preferences -->
                <div class="location-stage" ng-if="step.stage == 'location_pref'">
                    <i class="material-icons queue-icons">location_on</i>
                    <select class="location-select browser-default" ng-model="navbar.location">
                        <option value="" disabled selected>Select a location</option>
                        <option ng-repeat="location in step.locations" value="{{location.id}}">{{location.city}}</option>
                    </select>
                </div>

            </div>
        </div>

        <!-- Modal Footer -->
        <div class="queue-modal-footer">
            <!-- Submit button -->
            <div class="queue-confirm-container">
                <a class="btn-floating btn-large waves-effect waves-light queue-confirm-button" ng-click="navbar.confirm_queue()">
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <div class="container">
        <div class="row">

            <!-- Logo -->
            <div class="nav-left col l4 m4 s6">
                <a href="/" target="_self">
                    <img class="nav-logo" src="assets/images/logo-web.png">
                </a>
            </div>

            <!-- Explore button -->
            <div class="nav-center col m4 s6">
                <a id="explore-button" class="btn waves-light waves-effect" ng-click="navbar.open_queue_modal()">
                    Explore <i class="tiny material-icons">arrow_forward</i>
                </a>

                <div id="mobile-nav" ng-click="navbar.nav_open = !navbar.nav_open" ng-class="{true:'nav-open'}[navbar.nav_open]">
                    <div class="nav-menu">
                        <img class="profile-image" src="assets/images/profile.png">
                        <i class="tiny material-icons drop-indicator">expand_more</i>
                    </div>

                    <div class="mobile-menu">
                        <div class="dropdown-name">Michael Wong</div>
                        <hr class="dropdown-hr">
                        <ul class="dropdown-ul">
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">person</i>
                                    <span class="nav-link-text">Profile</span>
                                </a>
                            </li>
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">settings</i>
                                    <span class="nav-link-text">User Preferences</span>
                                </a>
                            </li>
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">exit_to_app</i>
                                    <span class="nav-link-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Dropdown menu -->
            <div class="nav-right col m4">
                <div class="nav-dropdown-container">
                    <div class="nav-menu">
                        <img class="profile-image" src="assets/images/profile.png">
                        <i class="tiny material-icons drop-indicator">expand_more</i>
                    </div>
                    <!-- Dropdown menu -->
                    <div class="nav-dropdown">
                        <div class="dropdown-name">Michael Wong</div>
                        <hr class="dropdown-hr">
                        <ul class="dropdown-ul">
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">person</i>
                                    <span class="nav-link-text">Profile</span>
                                </a>
                            </li>
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">settings</i>
                                    <span class="nav-link-text">User Preferences</span>
                                </a>
                            </li>
                            <li class="dropdown-li">
                                <a href="#">
                                    <i class="material-icons tiny">exit_to_app</i>
                                    <span class="nav-link-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
