/*=======================================
    Queue Modal
========================================*/
#queue-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5% 0;
    overflow-y: auto;
    opacity: 0;
    z-index: 999;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.9);
    -webkit-animation: close-modal 0.3s ease-out;
    -moz-animation: close-modal 0.3s ease-out;
    -o-animation: close-modal 0.3s ease-out;
    animation: close-modal 0.3s ease-out;
}

#queue-modal.queue-modal-open {
    display: block;
    opacity: 1;
    -webkit-animation: show-modal 0.3s ease-out;
    -moz-animation: show-modal 0.3s ease-out;
    -o-animation: show-modal 0.3s ease-out;
    animation: show-modal 0.3s ease-out;
}

// Queue open modal animation
@-webkit-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@-moz-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@-o-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

// Queue close modal animation
@-webkit-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@-moz-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@-o-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

.stages {
    opacity: 1;
    transition: all 0.35s ease-out 0.25s;
}

.stages.confirm {
    opacity: 0;
    pointer-events:none;
    transform: translate3d(-150px, 0, 0);
    transition: all 0.35s ease-out;
}

.confirmation {
    pointer-events:none;
    padding-right: 35px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.25s ease-out 0s;
}

.confirmation.confirm {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.35s ease-out 0.25s;
}

.queue-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.queue-modal {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 500px;
    transform: translate3d(0,-50px,0);
    transition: all 0.3s ease-out;
}

#queue-modal.queue-modal-open .queue-modal {
    transform: translate3d(0,0,0);
}

.queue-modal-header {
    background-color: @turq;
    padding: 25px 30px 25px 50px;
    color: @white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    transition: background 0.35s ease-out;
}

.queue-modal-header.confirm {
    background-color: @pink;
}

.close-queue-modal-button {
    cursor: pointer;
    margin-right: 0;
    margin-left: auto;
}

.queue-modal-body {
    padding: 35px 30px;
    background-color: @white;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
}

.queue-modal-body hr {
    margin: 40px 0;
}

.confirm-stage hr {
    margin: 20px 0;
}

.queue-modal-title {
    font-weight: 700;
    font-size: 18px;
    color: @turq;
    text-transform: uppercase;
    transition: color 0.35s ease-out;
}

.queue-modal-title.confirm {
    color: @pink;
}

.queue-modal-subtitle {
    font-size: 16px;
    color: @uppergrey;
}

.queue-icons {
    color: @middlegrey;
    margin-right: 20px;
}

.tooltip-icon {
    cursor: pointer;
    color: @middlegrey;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.queue-errors {
    margin: 20px 0 0;
    color: @pinkred;
}

.input-field>input {
    transition: all 0.25s ease-out;
}

input.queue-input-error {
    border-bottom: 1px solid @pink !important;
}

select.queue-input-error {
    border: 1px solid @pink !important;
}

.datetime-input-container,
.activity-stage {
    margin: 25px 0;
}

.date-input {
    display: inline-block;
    width: 200px;
    margin: 0;
}

.date-input #datepicker,
.times-input #start_timepicker,
.times-input #end_timepicker {
    margin: 0;
    cursor: default;
    height: 2em;
    cursor: pointer;
    border-bottom: 1px solid @middlegrey;
}

.times-input {
    display: inline-block;
    width: 100px;
    margin: 0 15px;
}

.start-timepicker, .end-timepicker {
    border: none;
    text-align: center;
}

.picker__header {
    margin-bottom: 0.75em;
}

.time-text {
    color: @turq;
    font-weight: 700;
    font-size: 14px;
}

.activity-stage .row {
    margin-left: 0;
    margin-right: 0;
}

label.active-cb-label {
    color: @pinkred;
    font-size: 16px;
}

.filled-in:checked + label.active-cb-label:after {
    background-color: @pinkred;
    border: 2px solid @pinkred;
}

label.social-cb-label {
    color: @blue;
    font-size: 16px;
}

.filled-in:checked + label.social-cb-label:after  {
    background-color: @blue;
    border: 2px solid @blue;
}

label.both-cb-label {
    color: @green;
    font-size: 16px;
}

.queue-confirm-container {
    text-align: center;
}

.queue-confirm-button {
    background-color: @pink;
    transform: translateY(-50%);
}

.queue-confirm-button:hover {
    background-color: @pinkred;
}

.confirm-instructions {
    font-size: 16px;
    margin-bottom: 20px;
}

.confirm-step-container {
    margin: 20px 0;
}

.confirm-text {
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    #queue-modal {
        padding: 0;
    }

    .queue-modal {
        width: 100%;
    }
}

.location-stage {
    margin: 20px 0;
}

select.location-select {
    width: 60%;
    display: inline-block;
}

/*==================================
    Navbar
===================================*/

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
    border: none;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);
}

.navbar .row {
    margin-bottom: 0;
}

.nav-left {
    text-align: left;
}

.nav-logo {
    opacity: 1;
    outline: none;
    transition: opacity 0.25s ease-out;
}

.nav-logo:hover { opacity: 0.7; }

.nav-center {
    text-align: center;
}

#explore-button {
    height: auto;
    padding: 6px 30px 4px;
    background-color: @pink;
    border: none;
    border-radius: 30px;
    color: @white;
    font-weight: 300;
    margin-top: 2px;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

#explore-button:hover {
    background-color: @green;
}

#explore-button i {
    vertical-align: middle;
    transform: translate(15px, -1px);
}

.nav-right {
    text-align: right;
}

.nav-dropdown-container {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    overflow: visible;
    .user-select-none;
}

.nav-menu {
    cursor: pointer;
}

.profile-image {
    max-height: 50px;
    border-radius: 50%;
}

.drop-indicator {
    background-color: #26a69a;
    border-radius: 50%;
    color: #ffffff;
    padding: 2px;
    float: right;
    transform: translate(-10px, 30px);
}

.nav-dropdown {
    position: absolute;
    background-color: @white;
    text-align: left;
    top: -999px;
    z-index: 99;
    right: 0;
    padding: 30px;
    width: 280px;
    opacity: 0;
    transform: translate3d(-30px,0,0);
    transition: transform 0.25s ease-out, opacity 0.25s ease-out, top 0s linear 0.25s;
    -webkit-box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.15);
}

.nav-dropdown-container:hover .nav-dropdown {
    top: 50px;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.dropdown-name {
    font-size: 24px;
    color: @darkgrey;
    font-weight: 300;
}

.dropdown-li>a:link,
.dropdown-li>a:visited,
.dropdown-li>a:active {
    color: @uppergrey;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.25s ease-out;
}

.dropdown-li>a:hover {
    color: @green;
}

.nav-link-text {
    margin-left: 10px;
    vertical-align: middle;
    transform: translateY(2px);
}

#mobile-nav {
    display: none;
    text-align: right;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar>.container {
        padding-left: 0;
        padding-right: 0;
    }

    #explore-button {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    .nav-right {
        display: none;
    }

    .nav-menu {
        text-align: right;
    }

    #mobile-nav.nav-open .mobile-menu {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        text-align: center;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: @white;
    }
}
