/* Date picker
========================================*/
.picker__date-display {
    display: none;
}

.picker__holder {
    overflow: visible;
}

.picker__day.picker__day--today,
.picker__close, .picker__today {
    color: @babyblue;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: @babyblue;
}

.picker--opened .picker__frame,
.picker__frame {
    top: 5% !important;
}

.btn-floating.btn-flat.active,
.clockpicker-tick.active,
.clockpicker-tick:hover {
    background-color: rgb(188, 229, 255) !important;
}

.clockpicker-canvas-bg,
.clockpicker-canvas-bearing {
    fill: rgb(188, 229, 255) !important;
}

.clockpicker-am-pm-block {
    transform: translateY(20px);
}

.picker__footer {
    padding: 0;
}

.picker__footer .clockpicker-button {
    margin-top: 0 !important;
    transform: translateY(-25px);
}

#datepicker_root>.picker__holder {
    display: none;
}

/*=======================================
    Queue Modal
========================================*/
#queue-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2% 0;
    overflow-y: auto;
    opacity: 0;
    z-index: 999;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.9);
    -webkit-animation: close-modal 0.3s ease-out;
    -moz-animation: close-modal 0.3s ease-out;
    -o-animation: close-modal 0.3s ease-out;
    animation: close-modal 0.3s ease-out;
}

#queue-modal.queue-modal-open {
    display: block;
    opacity: 1;
    -webkit-animation: show-modal 0.3s ease-out;
    -moz-animation: show-modal 0.3s ease-out;
    -o-animation: show-modal 0.3s ease-out;
    animation: show-modal 0.3s ease-out;
}

// Queue open modal animation
@-webkit-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@-moz-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@-o-keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

@keyframes show-modal {
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 1; display: block; }
}

// Queue close modal animation
@-webkit-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@-moz-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@-o-keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

@keyframes close-modal {
    0% { opacity: 1; display: block; }
    99% { opacity: 0; display: block; }
    100% { opacity: 0; display: none; }
}

.stages {
    opacity: 1;
    transition: all 0.35s ease-out 0.25s;
}

.stages.confirm {
    opacity: 0;
    pointer-events:none;
    transform: translate3d(-150px, 0, 0);
    transition: all 0.35s ease-out;
}

.confirmation {
    padding-right: 35px;
    transition: opacity 0.25s ease-out 0s;
}

.confirmation.confirm {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.35s ease-out 0.25s;
}

.queue-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.queue-modal {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 500px;
    transform: translate3d(0,-50px,0);
    transition: all 0.3s ease-out;
}

#queue-modal.queue-modal-open .queue-modal {
    transform: translate3d(0,0,0);
}

.queue-modal-header {
    background-color: @babyblue;
    padding: 20px 30px 20px 30px;
    color: @white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    transition: background 0.35s ease-out;
}

.queue-modal-header.confirm {
    background-color: @pink;
}

.close-queue-modal-button {
    cursor: pointer;
    margin-right: 0;
    margin-left: auto;
}

.queue-modal-body {
    padding: 35px 30px 10px;
    background-color: @white;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
}

.queue-modal-body hr {
    margin: 40px 0;
}

.confirm-stage hr {
    margin: 20px 0;
}

.queue-modal-title {
    font-weight: 700;
    font-size: 18px;
    color: @babyblue;
    text-transform: uppercase;
    transition: color 0.35s ease-out;
}

.queue-modal-title.confirm {
    color: @pink;
}

.queue-modal-subtitle {
    font-size: 16px;
    color: @uppergrey;
}

.queue-icons {
    color: @middlegrey;
    margin-right: 20px;
}

.tooltip-icon {
    cursor: pointer;
    color: @middlegrey;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.queue-errors {
    margin: 20px 0 0;
    color: @pinkred;
}

.input-field>input {
    transition: all 0.25s ease-out;
}

input.queue-input-error {
    border-bottom: 1px solid @pink !important;
}

select.queue-input-error {
    border: 1px solid @pink !important;
}

.datetime-input-container,
.activity-stage {
    margin: 25px 0;
}

.date-input {
    display: inline-block;
    width: 200px;
    margin: 0;
}

.date-input #datepicker,
.times-input #start_timepicker,
.times-input #end_timepicker {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    cursor: default;
    height: 2em;
    cursor: pointer;
    border-bottom: 1px solid @middlegrey;
}

.times-input {
    display: inline-block;
    width: 100px;
    margin: 0 15px;
}

.start-timepicker, .end-timepicker {
    border: none;
    text-align: center;
}

.picker__header {
    margin-bottom: 0.75em;
}

.time-text {
    color: @babyblue;
    font-weight: 700;
    font-size: 14px;
}

.activity-stage .row {
    margin-left: 0;
    margin-right: 0;
}

label.active-cb-label {
    color: @pinkred;
    font-size: 16px;
}

.filled-in:checked + label.active-cb-label:after {
    background-color: @pinkred;
    border: 2px solid @pinkred;
}

label.social-cb-label {
    color: @blue;
    font-size: 16px;
}

.filled-in:checked + label.social-cb-label:after  {
    background-color: @blue;
    border: 2px solid @blue;
}

label.both-cb-label {
    color: @green;
    font-size: 16px;
}

.queue-modal-footer {
    padding-bottom: 25px;
}

.queue-confirm-container {
    padding-left: 25px;
    padding-right: 25px;
}

.queue-confirm-container::after {
    content: '';
    clear: both;
}

.queue-next-button {
    background-color: @babyblue;
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    color: @white;
    border-radius: 0px;
    float: right;
    font-size: 11px;
}

.queue-prev-button {
    background-color: @babyblue;
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    border-radius: 0px;
    color: @white;
    float: left;
    font-size: 11px;
}

.queue-confirm-button {
    background-color: @pink;
}

.queue-prev-button:hover,
.queue-next-button:hover,
.queue-confirm-button:hover {
    color: @white;
}

.confirm-instructions {
    font-size: 16px;
    margin-bottom: 20px;
}

.confirm-step-container {
    margin: 20px 0;
}

.confirm-text {
    display: inline-block;
    font-size: 16px;
}

.queue-modal-footer {
    background-color: @white;
}

@media screen and (max-width: 991px) {
    #queue-modal {
        padding: 0;
    }

    .queue-modal {
        width: 100%;
    }
}

.location-stage {
    margin: 20px 0;
}

.location-select-wrapper {
    display: inline-block;
    width: 60%;
}

.toggle-confirm-button {
    padding-right: 15px;
    cursor: pointer;
    color: @white !important;
}

/*=================================
    Cancel Queue Modal
===================================*/

.lean-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.cancel-queue-modal,
.event-found-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: #ffffff;
    padding: 0;
    border-radius: 0;
    height: auto;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.cancel-queue-modal-content,
.event-found-modal-content {
    padding: 24px;
    position: relative;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-clip: none;
    outline: 0;
}

#cancel-search,
#event-found-modal {
    width: 400px;
    max-width: 100%;
}

.event-found-title {
    color: @pink;
    font-weight: 700;
}

.view-event-btn {
    font-size: 12px;
    background-color: @green;
    color: @white;
    text-decoration: none;
    opacity: 1;
}

.view-event-btn:hover {
    background-color: @green;
    color: @white;
    text-decoration: none;
    opacity: 0.7;
}

.ok-event-btn {
    font-size: 12px;
    color: @darkgrey;
}

.ok-event-btn:hover {
    color: @darkgrey;
}

/*==================================
    Navbar
===================================*/

.navbar {
    background-color: @white;
    padding: 0;
    height: 65px;
    border: none;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navbar>.container,
.navbar>.container>.row {
    height: 100%;
}

.navbar .row {
    margin-bottom: 0;
}

.nav-left {
    text-align: left;
}

.nav-logo {
    height: 3.75em;
    opacity: 1;
    outline: none;
}

.nav-center {
    position: relative;
    text-align: center;
}

#explore-button {
    height: 40px;
    padding: 0 25px;
    background-color: @pink;
    border: none;
    border-radius: 30px;
    color: @white;
    font-size: 1em;
    line-height: 42px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

#explore-button:hover {
    background-color: @green;
}

#explore-button i {
    vertical-align: middle;
    transform: translate(10px, -1px);
    font-size: 1em;
}

/* Cancel button
====================================*/

.cancel-queue .cancel-button-spinner {
    border: 2px solid rgba(228, 60, 92, 0.3);
    border-bottom-color: @pink;
    -webkit-animation: rotate 2s linear 0s infinite;
    animation: rotate 3s linear 0s infinite;
}

.cancel-button-spinner {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    right: ~"calc(30% - 5px)";
    top: 0;
    bottom: 0;
    margin: auto;
}

.cancel-button {
    display:block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: @pink;
    color: @white;
    text-align: center;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30%;
    cursor: pointer;
    outline: none;
    margin: auto;
}

@-moz-document url-prefix() {
    .cancel-button {
        top: 2px;
    }
}

.cancel-button:hover {
    background: rgba(228, 60, 92, 0.7);
    color: @white;
}

.cancel-button:active {
    background: @pink;
}

.cancel-button>i {
    line-height: 35px;
    font-size: 14px;
    color: @white;
}

.searching-text {
    font-weight: 700;
    color: @pink;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.75px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: auto;
    left: 5%;
    top: 5px;
    bottom: 0;
    line-height: 1;
    height: 35px;
    text-transform: uppercase;
}

.subtext {
    color: #434343;
    font-weight: 300;
    letter-spacing: 0.25px;
    font-size: 13px;
    text-transform: none;
}

.mobile-navbar {
    display: none;
}

@media screen and (max-width: 1200px) {
    .searching-text { left: 0; }
    .cancel-button { right: 20%; }
    .cancel-button-spinner { right: ~"calc(20% - 5px)"; }
}

@media screen and (max-width: 992px) {
    .searching-text { left: 0; }
    .cancel-button { right: 0%; }
    .cancel-button-spinner { right: ~"calc(0% - 5px)"; }
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*====================================*/

.nav-right {
    text-align: right;
}

.nav-dropdown-container {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    overflow: visible;
    .user-select-none;
}

.dropdown-hr {
    margin-top: 10px;
}

.profile-image {
    max-height: 40px;
    border-radius: 50%;
}

.nav-name {
    font-size: 16px;
    color: @uppergrey;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 15px;
    margin-top: 5px;
}

.drop-indicator {
    border-radius: 50%;
    color: @uppergrey;
    padding: 2px;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}

.drop-indicator:hover {
    color: @darkgrey;
}

ul.dropdown-ul {
    margin-bottom: 0;
}

.dropdown-menu {
    padding: 0;
}

.nav-dropdown {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    z-index: 99;
    top: 45px;
    right: 0;
    border: none;
    left: auto;
    border-radius: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0 ,0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0 ,0.1);;
    box-shadow: 0 0 20px rgba(0, 0, 0 ,0.1);;
}

.nav-dropdown.show {
    display: block;
}

.dropdown-name {
    font-size: 20px;
    color: @darkgrey;
    font-weight: 300;
}

.dropdown-li>a:link,
.dropdown-li>a:visited,
.dropdown-li>a:active {
    color: @darkgrey;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.25px;
    padding: 10px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    white-space: nowrap;
}

.dropdown-li>a:hover {
    color: @darkgrey;
    background-color: @faintgrey;
}

.nav-link-text {
    vertical-align: middle;
}

#mobile-nav {
    display: none;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
        position: fixed;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        z-index: 99;
    }

    .mobile-navbar.focus {
        display: none;
    }

    .mobile-navbar.no-shadow {
        box-shadow: none;
    }

    .mobile-nav-container .container,
    .mobile-nav-container .row,
    .mobile-nav-container .col {
        height: 100%;
    }

    .mobile-nav-container .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-nav-container .row {
        margin-bottom: 0;
    }

    @mobile-nav-height: 50px;
    @mobile-logo-height: calc(@mobile-nav-height - 20px);

    .mobile-nav-container {
        background-color: @white;
        height: @mobile-nav-height;
    }

    .mobile-logo-link {
        display: inline-block;
        margin-right: auto;
    }

    .mobile-logo {
        height:@mobile-logo-height;
    }

    .mobile-menu-col {
        margin-left: auto;
        color: @white;
    }

    .scope-title {
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        color: @darkgrey;
        font-weight: 500;
        .user-select-none;
    }

    .mobile-nav-menu-button {
        margin-left: auto;
        background: transparent !important;
        border: none;
        color: @white;
        padding-right: 0;
    }

    .mobile-nav-menu-button:active {
        background-color: transparent;
    }

    .hamburger::after {
        content: '';
        display: block;
        width: 22px;
        margin: 5px;
        height: 2px;
        background-color: @pink;
        border-radius: 5px;
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

    .mobile-menu-drawer {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        max-width: 90%;
        background-color: @white;
        min-height: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 10;
        .dropshadow;
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.35s ease-out;
    }

    .mobile-menu-drawer.open {
        transform: translate3d(0, 0, 0);
    }

    .mobile-menu-header {
        position: relative;
        background-color: @teal;
        padding: 25px;
        overflow: hidden;
    }

    .close-drawer-button {
        position: absolute;
        right: 15px;
        top: 15px;
        background: transparent !important;
        outline: none;
        border: none;
    }

    .close-drawer-button>i {
        color: @white;
        font-size: 22px;
    }

    .drawer-profile {
        overflow: hidden;
        text-align: center;
    }

    .drawer-profile>img {
        max-width: 75px;
        max-height: 75px;
        max-width: 50%;
        border-radius: 50%;
    }

    .drawer-name {
        margin-top: 10px;
        color: @white;
        font-size: 16px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

    .drawer-queue {
        text-align: center;
    }

    .mobile-explore-button,
    .mobile-cancel-button,
    .mobile-event-button {
        display: inline-block;
        margin-top: 5px;
        font-weight: 300;
        width: 115px;
        height: 35px;
        letter-spacing: 0.5px;
        line-height: 35px;
        border-radius: 2px;
        font-size: 13px;
        color: @white !important;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2)
    }

    .mobile-explore-button:hover,
    .mobile-cancel-button:hover,
    .mobile-event-button:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .mobile-explore-button>i {
        font-size: 18px;
        margin-top: -1px;
    }

    .drawer-status-text {
        color: @white;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
    }

    .one {
        opacity: 0;
        -webkit-animation: dot 1.5s infinite;
        -webkit-animation-delay: 0.0s;
        animation: dot 1.5s infinite;
        animation-delay: 0.0s;
        font-size: 20px;
    }

    .two {
        opacity: 0;
        -webkit-animation: dot 1.5s infinite;
        -webkit-animation-delay: 0.2s;
        animation: dot 1.5s infinite;
        animation-delay: 0.2s;
        font-size: 20px;
    }

    .three {
        opacity: 0;
        -webkit-animation: dot 1.5s infinite;
        -webkit-animation-delay: 0.4s;
        animation: dot 1.5s infinite;
        animation-delay: 0.4s;
        font-size: 20px;
    }

    @-webkit-keyframes dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes dot {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .drawer-menu-list {
        padding: 0 35px;
        list-style: none;
    }

    .drawer-menu-list li {
        font-size: 15px;
        font-weight: 500;
        margin: 15% 0;
    }

    .drawer-menu-list li>a {
        color: @middlegrey;
    }

    .drawer-menu-list li>a>i {
        display: inline-block;
        margin-right: 15px;
    }

    .drawer-menu-list li.current-state>a,
    .drawer-menu-list li.current-state>a>i {
        color: @teal;
    }

    .drawer-menu-list li.current-state>a:hover {
        color: @teal;
    }

}
