<!-- Password Reset Page -->
<div id="signup-container">
    <div class="container">

        <!-- header: logo and login -->
        <div class="row">

            <!-- logo (blue) -->
            <div class="logo-container col l2 m3 s6">
                <a href="/">
                    <img src="assets/images/5pm-logo-blue.png" width="100%" height="auto">
                </a>
            </div>

            <!-- signup and login -->
            <div class="signup-navigation align-right col l10 m9 s6">
                <!-- login -->
                <span class="signup-nav-text">Remember your password?</span>
                <a href="/login" class="babyblue-font">LOG IN</a>
            </div>

        </div>

        <!-- instructions -->
        <div class="row" ng-class="{true: 'invis' }[reset.verified]">
            <div class="recovery-instructions" ng-class="{'invis': !reset.authorized}">
                <div class="signup-instructions-title">Enter your new password below:</div>
                <div class="signup-instructions-subtitle">Make sure your password is at least 8 characters long.</div>
            </div>

            <!-- errors -->
            <div class="signup-errors invis" ng-class="{'appear': reset.error_message}">{{ reset.error_message }}</div>
        </div>

        <!-- password -->
        <div class="row recover-email-row" ng-hide="reset.verified" ng-class="{'invis': !reset.authorized}">
            <div class="recovery-label col l2 m3 s12 offset-l3 offset-m1 align-center">password</div>
            <div class="recovery-input col l4 m7 s12">
                <input type="password" ng-model="reset.password" class="highlight-blue">
            </div>
        </div>

        <!-- confirm password -->
        <div class="row recover-email-row" ng-hide="reset.verified" ng-class="{'invis': !reset.authorized}">
            <div class="recovery-label col l2 m3 s12 offset-l3 offset-m1 align-center">confirm password</div>
            <div class="recovery-input col l4 m7 s12">
                <input type="password" ng-model="reset.confirm_password" class="highlight-blue" ng-keypress="($event.which === 13 || $event.which === 32) && reset.reset_password()">
            </div>
        </div>

        <!-- submit button -->
        <div class="row reset-password-row" ng-hide="reset.verified" ng-class="{'invis': !reset.authorized}">
            <div class="align-center">
                <a class="babyblue-bg rect-button reset-password-button" ng-click="reset.reset_password()">RESET PASSWORD</a>
            </div>
        </div>

        <!-- verified -->
        <div class="row verified-email-row invis" ng-class="{true:'appear'}[reset.verified == true]">
            <div class="align-center">
                Your password has been reset. Login using the link below<br /><br />
                <a href="/login" target="_self">Log in</a>
            </div>
        </div>

    </div>
</div>
