<div class="modal-header">
	<h3 class="modal-title">Create New Activity</h3>
</div>
<div class="modal-body">
	<div class="row right-align">
		<button ng-show="vm.deleteButtonShow" ng-click="vm.deleteActivity()" class="btn red darken-4">Delete</button>
	</div>
	<div class="row">
		<form class="col s12" name="create_form" ng-submit="vm.submit()">
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="vm.create_form.activity_name" name="activity" type="text" class="validate" required>
					<label class="active" for="activity">Activity Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<div id="activity_tags" class="tag-list"></div>
					<label class="active activity-tag-label">Tags</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="vm.create_form.allowed_capacity" name="allowed_capacity" type="number" class="validate" required>
					<label class="active" for="allowed_capacity">Capacity</label>
				</div>
			</div>
			<div class="row right-align">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
</div>
