#event-container {
    margin-top: 30px;
}

.confirmation-row {
    .dropshadow;
    background-color: @pink;
    color: @white;
    padding: 10px 25px;
}

.confirmation-description {
    font-size: 15px;
    line-height: 36px;
}

.event-confirm-button,
.event-decline-button {
    display: inline-block;
    background-color: transparent;
    color: @white;
    cursor: pointer;
    height: 40px;
    padding: 0 2em;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
    .user-select-none;
}

.event-confirm-button:hover,
.event-decline-button:hover {
    background-color: rgba(0,0,0,0.08);
    color: @white;
}

.events-row {
    background: @white;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);
}

.events-row>.col {
    padding-left: 0;
    padding-right: 0;
}

.event-detail-card {
    margin-top: 30px;
    margin-bottom: 15px;
    border-right: 1px solid @BGcolor;
}

.event-card-header {
    position: relative;
    padding: 0px 25px 15px 35px;
    border-bottom: 1px solid @BGcolor;
}

a.event-options {
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.event-options:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.event-options>i {
    color: @lightgrey !important;
    transition: color 0.2s ease-out;
}

a.event-options:hover>i {
    color: @uppergrey !important;
}

.event-title {
    font-size: 25px;
    font-weight: 300;
}

.event-venue {
    font-weight: 300;
    font-size: 18px;
    color: @pink;
}

.event-card-body {
    padding: 15px 25px 15px 35px;
}

.event-card-body td {
    padding: 10px 0;
    color: @uppergrey;
    font-size: 15px;
    vertical-align: top;
    cursor: default;
}

.event-card-body td.event-icons {
    cursor: pointer;
}

.event-card-body td.pending {
    color: @pink;
}

.event-card-body td.confirmed {
    color: @teal;
}

td.event-icons {
    width: 50px;
}

.event-icons>i {
    color: @middlegrey;
    font-size: 1.5em;
}

a.event-status {
    font-size: 10px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
}

a.event-status.attend { background-color: @green; }
a.event-status.maybe { background-color: @babyblue; }
a.event-status.not-attend { background-color: @pink; }

a.event-status:visited,
a.event-status:hover,
a.event-status:active {
    color: @white;
    text-decoration: none !important;
}

#event-map {
    width: 100%;
    height: 250px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gm-style .gm-style-iw {
    font-weight: 700;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    display: none;
    background:none !important;
}

.event-card-footer {
    text-align: center;
    padding: 20px 0;
}

.event-card-footer>a {
    font-size: 12px;
    background-color: @pink;
    color: @white;
}

.event-card-footer>a:hover {
    background-color: @green;
    color: @white;
}

.attendees-chat-section>.container>.row {
    margin-bottom: 0;
}

#event-attendees {
    padding-left: 3%;
}

.attendees-title {
    padding: 30px 0;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
}

.attendee-card {
    margin-bottom: 10px;
}

.attendee-name {
    color: @green;
    font-size: 15px;
    letter-spacing: 1.5px;
}


@media screen and (max-width: 992px) {
    // use mobile here
    // at < 992px, mobile will show up
}
