<navbar></navbar>

<div id="event-container">
    <div class="container">
        <div class="row">
            <div class="col l8 m8">
                <div id="carousel">
                    <div class="current-image"></div>
                    <div class="image-list-container">
                        <ul class="image-list">
                            <li ng-repeat="image in event.carousel">
                                <div class="image-item image-{{$index}}" ng-click="event.change_image($event, image.src)" ng-style="event.get_background(image.src)"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col l4 m4">
                <div class="event-detail-card">
                    <!-- Event Header -->
                    <div class="event-card-header">
                        <a class="btn-floating btn-small waves-effect waves-light event-options"><i class="material-icons small">more_vert</i></a>
                        <div class="event-title">{{ event.venue.name }}</div>
                        <div class="event-venue">@{{ event.venue.venue }}</div>
                    </div>

                    <!-- Event Details -->
                    <div class="event-card-body">
                        <!-- Status -->
                        <table width="100%">
                            <tbody><tr>
                                <td class="event-icons"><i class="material-icons">person</i></td>
                                <td>
                                    <a class="waves-effect waves-light btn event-status" href='#' ng-class="{attend: 'attend', maybe: 'maybe', 'not-attend': 'not-attend'}[event.status]" onclick="return false;">
                                        <span ng-show="event.status == 'attend'">
                                            <i class="material-icons tiny">done_all</i> Confirmed
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons">event</i></td>
                                <td>{{ event.venue.date }}</td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons">access_time</i></td>
                                <td>{{ event.venue.time }}</td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons">location_on</i></td>
                                <td class="pre-wrap">{{ event.venue.location }}</td>
                            </tr>
                        </tbody></table>
                    </div>

                    <!-- Google Maps -->
                    <div id="event-map"></div>
                    <div class="event-card-footer"><a href="http://maps.google.com/?q={{event.venue.venue}}" class="waves-effect waves-light btn" target="_blank">VIEW LARGER MAP</a></div>

                </div>
            </div>
        </div>
    </div>

    <!-- Event lower section -->
    <div class="attendees-chat-section">
        <div class="container">
            <div class="row">
                <div class="col l8 m8" id="event-attendees">
                    <div class="attendees-title">Attendees</div>
                    <div class="attendees-list">
                        <div class="row">
                            <div class="col s5 attendee-card" ng-repeat="person in event.attendees">
                                <div class="row valign-wrapper">
                                    <div class="col s3"><img class="responsive-img circle" src="{{person.thumb}}"></div>
                                    <div class="col s9">
                                        <div class="attendee-name">{{person.name}}</div>
                                        <div class="attendee-props">
                                            {{ event.display_props(person.props) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l4 m4" id="event-chat">
                    <div class="chat-title">Event Chat</div>
                    <div id="chat-box">
                        <!-- Chat Message Template -->
                        <div class="row" ng-repeat="message in event.chat_messages">
                            <div class="col s2"><img class="responsive-img circle" src="{{message.thumb}}"></div>
                            <div class="col s9">
                                <div class="message-name">
                                    <span ng-style="{'color': '{{message.colour}}'}">{{message.name}}</span>
                                </div>
                                <div class="message-text pre-wrap">{{message.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-textarea">
                        <div class="row valign-wrapper">
                            <div class="col s10">
                                <textarea ng-keydown="$event.keyCode == 13 && event.send_message($event)" ng-model="event.textarea" placeholder="Enter your message..." id="chatarea" class="materialize-textarea"></textarea>
                            </div>
                            <div class="col s2 align-right">
                                <a class="btn-small waves-effect waves-light send-button">
                                    <i class="material-icons">arrow_forward</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="extra" style="height: 500px;">
</div>
