<!-- Leave event modal -->
<div id="leave-modal" class="modal" ng-show="vm.user_status == 'Confirmed'">
    <div class="modal-content">
        <h3 class="pink-font">Leave Event</h3>
        <p>
            Once you leave this event, you will no longer be able to view its details and people attending. Are you sure you would like to leave?
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" ng-click="vm.leave_event()" class="modal-action modal-close waves-effect waves-green btn-flat">Leave</a>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<div id="event-container">

    <!-- google maps (for now) -->
    <div class="event-gmap-container">
        <!-- confirmation header -->
        <div class="row confirmation-row" ng-if="vm.user_status == 'Pending User Confirmation'">
            <div class="col s12 align-center confirmation-description">
                Please confirm your event attendance to ensure a spot
            </div>

            <!-- confirm -->
            <div class="col s6 align-center">
                <a class="event-confirm-button" ng-click="vm.confirm_event()">Confirm</a>
            </div>

            <!-- decline -->
            <div class="col s6 align-center">
                <a class="event-decline-button" ng-click="vm.decline_event()">Decline</a>
            </div>
        </div>
        <div id="event-gmap"></div>
        <div class="event-overlay-info">
            <div class="container overlay-text-container">

                <!-- event title and venue -->
                <div class="event-title-venue">
                    <div class="map-title">{{ vm.event_data.activity.activity_name }}</div>
                    <br />
                    <div class="map-venue">@{{ vm.event_data.venue.venue_name }}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row events-row">

            <!-- event details -->
            <div class="col s3" id="event-details">
                <div class="event-detail-card">

                    <!-- Event Header -->
                    <div class="event-card-header">
                        <div class="event-options-dropdown dropdown"  ng-if="vm.user_status == 'Confirmed'">
                            <a class="btn-floating btn-small waves-effect waves-light event-options dropdown-toggle" data-toggle="dropdown" id="event-dropdown"><i class="material-icons small">more_vert</i></a>

                            <ul id='event-options' class='dropdown-menu dropdown-menu-right' aria-labelledby="event-dropdown">
                                <li>
                                    <a class="modal-trigger" href="#leave-modal">
                                        Leave event
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="event-title">Event Details</div>
                    </div>

                    <!-- Event Info -->
                    <div class="event-card-body">
                        <table width="100%">
                            <tbody><tr>
                                <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Your Attendance">person</i></td>
                                <td ng-class="{'pending': vm.user_status == 'Pending User Confirmation', 'confirmed': vm.user_status == 'Confirmed'}">{{ vm.user_status }}</td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Date">event</i></td>
                                <td>{{ vm.get_event_date() }}</td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Time">access_time</i></td>
                                <td>{{ vm.get_event_time() }}</td>
                            </tr>
                            <tr>
                                <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Location">location_on</i></td>
                                <td>
                                    {{ vm.event_data.venue.address.street }}<br />
                                    {{ vm.event_data.venue.address.city }},
                                    {{ vm.event_data.venue.address.province }}<br />
                                    {{ vm.event_data.venue.address.postal_code }}
                                </td>
                            </tr></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- chat -->
            <div class="col s6" id="event-chat">

                <div class="event-chat-card" ng-if="vm.user_status == 'Confirmed'">
                    <!-- title -->
                    <div class="event-card-header" style="background: #ffffff">
                        <div class="event-title">{{ vm.event_data.activity.activity_name }} @ {{ vm.event_data.venue.venue_name }} Chat</div>
                    </div>

                    <!-- chatbox -->
                    <div class="chat-area">
                        <div class="no-chat-messages" ng-if="vm.chat_messages.length == 0">
                            Feel free to chat with other people that are going to this event.<br />
                            Please remember to be respectful and considerate of others.
                        </div>
                        <div ng-repeat="message in vm.chat_messages" class="row">
                            <div class="col s1 align-center" ng-if="message.user.profile_picture">
                                <img class="event-profile-pic" ng-src="{{vm.get_profile_img(message.user.profile_picture.current)}}">
                            </div>
                            <div class="col s10 align-center" ng-if="message.status" style="padding-top: 7px">
                                <div class="message-name">
                                    <span class="babyblue-font ">{{message.user.first_name}} {{message.user.last_name}}</span>
                                    has <span ng-if="message.status == 'join'">joined</span> <span ng-if="message.status == 'leave'">left</span> the event
                                </div>
                            </div>
                            <div class="col s11 chat-user-message" ng-if="message.text">
                                <div class="babyblue-font message-name">{{message.user.first_name}} {{message.user.last_name}}</div>
                                <div class="message-text pre-wrap">{{message.text}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- message box -->
                    <div class="message-box valign-wrapper">
                        <img class="event-profile-pic" src="{{ vm.profile_picture }}">
                        <textarea ng-keydown="$event.keyCode == 13 && vm.send_message($event)" id="message-input" rows="1" class="message-input" placeholder="Type your message..." ng-model="vm.message_input"></textarea>
                        <a ng-click="vm.send_message($event)" class="btn">Send</a>
                    </div>
                </div>
            </div>

            <!-- going -->
            <div class="col s3" id="event-attendees">
                <div class="event-attendees-card">
                    <div class="attendees-list" ng-show="vm.attendees.length > 0">
                        <div class="row valign-wrapper" ng-repeat="person in vm.get_confirmed_attendees()">
                            <div class="col s3"><img class="responsive-img circle" src="{{ vm.get_profile_img(person.profile_picture) }}"></div>
                            <div class="col s9">
                                <div class="attendee-name">{{person.name}}</div>
                                <div class="attendee-props">
                                    {{ vm.display_props(person.props) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="event-mobile-container">
    <div class="row">
        <ul class="tabs mobile-event-tabs" style="display: block;">
            <li class="tab col s4">
                <a class="active" href="#mobile-event-details" ng-click="vm.resize_map()">Details</a>
            </li>
            <li class="tab col s4">
                <a href="#mobile-event-attendees">Going</a>
            </li>
            <li class="tab col s4" ng-class="{'disabled': vm.user_status == 'Pending User Confirmation'}">
                <a href="#mobile-event-chat" ng-class="{'tooltipped': vm.user_status == 'Pending User Confirmation'}" data-position="bottom" data-delay="0" data-tooltip="Confirm event to chat!">Chat</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <!-- details -->
        <div id="mobile-event-details" class="col s12">
            <!-- confirmation header -->
            <div class="row confirmation-row" ng-if="vm.user_status == 'Pending User Confirmation'">
                <div class="col s12 align-center confirmation-description">
                    Please confirm your event attendance to ensure a spot
                </div>

                <!-- confirm -->
                <div class="col s6 align-center">
                    <a class="event-confirm-button" ng-click="vm.confirm_event()">Confirm</a>
                </div>

                <!-- decline -->
                <div class="col s6 align-center">
                    <a class="event-decline-button" ng-click="vm.decline_event()">Decline</a>
                </div>
            </div>

            <!-- google maps -->
            <div class="mobile-gmaps-container">
                <div id="mobile-event-gmap"></div>
            </div>

            <!-- event details -->
            <div class="mobile-event-details">
                <div class="event-options-dropdown dropdown"  ng-if="vm.user_status == 'Confirmed'">
                    <a class="btn-floating btn-small waves-effect waves-light event-options dropdown-toggle" data-toggle="dropdown" id="event-dropdown"><i class="material-icons small">more_vert</i></a>

                    <ul id='event-options' class='dropdown-menu dropdown-menu-right' aria-labelledby="event-dropdown">
                        <li>
                            <a class="modal-trigger" href="#leave-modal">
                                Leave event
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-event-activity">{{ vm.event_data.activity.activity_name }}</div>
                <div class="mobile-event-venue">@ {{ vm.event_data.venue.venue_name }}</div>

                <!-- event info -->
                <div class="mobile-event-info">
                    <table width="100%">
                        <tbody><tr>
                            <td class="event-icons"><i class="material-icons" data-position="right" data-delay="0" data-tooltip="Your Attendance">person</i></td>
                            <td ng-class="{'pending': vm.user_status == 'Pending User Confirmation', 'confirmed': vm.user_status == 'Confirmed'}">{{ vm.user_status }}</td>
                        </tr>
                        <tr>
                            <td class="event-icons"><i class="material-icons" data-position="right" data-delay="0" data-tooltip="Event Date">event</i></td>
                            <td>{{ vm.get_event_date() }}</td>
                        </tr>
                        <tr>
                            <td class="event-icons"><i class="material-icons" data-position="right" data-delay="0" data-tooltip="Event Time">access_time</i></td>
                            <td>{{ vm.get_event_time() }}</td>
                        </tr>
                        <tr>
                            <td class="event-icons"><i class="material-icons" data-position="right" data-delay="0" data-tooltip="Event Location">location_on</i></td>
                            <td>
                                {{ vm.event_data.venue.address.street }}<br />
                                {{ vm.event_data.venue.address.city }},
                                {{ vm.event_data.venue.address.province }}<br />
                                {{ vm.event_data.venue.address.postal_code }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-center">
                                <a href="http://maps.google.com/?q={{vm.event_data.venue.venue_name}},{{ vm.event_data.venue.address.city }}" class="waves-effect waves-light btn view-gmaps" target="_blank">VIEW LARGER MAP</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- attendees -->
        <div id="mobile-event-attendees" class="col s12">
            <div class="attendees-list-container">
                <ul class="attendees-list">
                    <li class="valign-wrapper" ng-if="vm.get_confirmed_attendees().length == 0">
                        <div class="align-center no-attendees-text">
                            No one is in this event yet. Be the first to join!<br />
                            <a  ng-click="vm.confirm_event()" class="confirm-event-button">Join event</a>
                        </div>
                    </li>
                    <li class="valign-wrapper" ng-repeat="person in vm.get_confirmed_attendees()">
                        <img class="responsive-img circle" ng-src="{{ vm.get_profile_img(person.profile_picture) }}">
                        <span class="attendee-name">{{person.name}}</div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- chat -->
        <div id="mobile-event-chat" class="col s12">
            <!-- title -->
            <div class="event-card-header" style="background: #ffffff; display: none;" ng-class="{'hidden': vm.textarea_focus}">
                <div class="event-title">{{ vm.event_data.activity.activity_name }} @ {{ vm.event_data.venue.venue_name }} Chat</div>
            </div>

            <!-- chatbox -->
            <div class="mobile-chat-area">
                <div class="no-chat-messages" ng-if="vm.chat_messages.length == 0">
                    Feel free to chat with other people that are going to this event.<br />
                    Please remember to be respectful and considerate of others.
                </div>
                <div ng-repeat="message in vm.chat_messages" class="row">
                    <div class="col s1 align-center" ng-if="message.user.profile_picture">
                        <img class="event-profile-pic" ng-src="{{vm.get_profile_img(message.user.profile_picture.current)}}">
                    </div>
                    <div class="col s10 align-center" ng-if="message.status" style="padding-top: 7px">
                        <div class="message-name">
                            <span class="babyblue-font ">{{message.user.first_name}} {{message.user.last_name}}</span>
                            has <span ng-if="message.status == 'join'">joined</span> <span ng-if="message.status == 'leave'">left</span> the event
                        </div>
                    </div>
                    <div class="col s11 chat-user-message" ng-if="message.text">
                        <div class="babyblue-font message-name">{{message.user.first_name}} {{message.user.last_name}}</div>
                        <div class="message-text pre-wrap">{{message.text}}</div>
                    </div>
                </div>
            </div>

            <!-- message box -->
            <div class="message-box valign-wrapper">
                <img class="event-profile-pic" src="{{ vm.profile_picture }}">
                <textarea ng-focus="vm.hide_navbar(true)" ng-blur="vm.hide_navbar(false)" ng-keydown="$event.keyCode == 13 && vm.send_message($event)" id="message-input" rows="1" class="message-input" placeholder="Type your message..." ng-model="vm.message_input"></textarea>
                <a ng-click="vm.send_message($event)" class="btn">Send</a>
            </div>
        </div>
    </div>
</div>
