<!-- Leave event modal -->
<div id="leave-modal" class="modal" ng-show="vm.user_status == 'Confirmed'" ng-if="false">
    <div class="modal-content">
        <h3 class="pink-font">Leave Event</h3>
        <p>
            Once you leave this event, you will no longer be able to view its details and people attending. Are you sure you would like to leave?
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" ng-click="vm.leave_event()" class="modal-action modal-close waves-effect waves-green btn-flat">Leave</a>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<div id="event-container">
    <div class="container">

        <!-- confirmation header -->
        <div class="row confirmation-row" ng-if="vm.user_status == 'Pending User Confirmation'">
            <div class="col m8 s12 confirmation-description">
                Please confirm your event attendance to ensure a spot
            </div>

            <!-- confirm -->
            <div class="col m2 s6 align-center">
                <a class="event-confirm-button" ng-click="vm.confirm_event()">Confirm</a>
            </div>

            <!-- decline -->
            <div class="col m2 s6 align-center">
                <a class="event-decline-button" ng-click="vm.decline_event()">Decline</a>
            </div>
        </div>

        <div class="row events-row">

            <!-- no event images -->
            <div class="col m9 s12">
                <div class="event-detail-card">
                    <!-- Event Header -->
                    <div class="event-card-header">
                        <div class="event-options-dropdown dropdown"  ng-if="vm.user_status == 'Confirmed'" ng-hide="true">
                            <a class="btn-floating btn-small waves-effect waves-light event-options dropdown-toggle" data-toggle="dropdown" id="event-dropdown"><i class="material-icons small">more_vert</i></a>

                            <ul id='event-options' class='dropdown-menu dropdown-menu-right' aria-labelledby="event-dropdown">
                                <li><a class="modal-trigger" href="#leave-modal">Leave event</a></li>
                            </ul>
                        </div>
                        <div class="event-title">{{ vm.event_data.activity.activity_name }}</div>
                        <div class="event-venue">@{{ vm.event_data.venue.venue_name }}</div>
                    </div>

                    <!-- Event Details -->
                    <div class="event-card-body row">
                        <div class="col m4 s12">
                            <!-- Status -->
                            <table width="100%">
                                <tbody><tr>
                                    <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Your Attendance">person</i></td>
                                    <td ng-class="{'pending': vm.user_status == 'Pending User Confirmation', 'confirmed': vm.user_status == 'Confirmed'}">{{ vm.user_status }}</td>
                                </tr>
                                <tr>
                                    <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Date">event</i></td>
                                    <td>{{ vm.get_event_date() }}</td>
                                </tr>
                                <tr>
                                    <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Time">access_time</i></td>
                                    <td>{{ vm.get_event_time() }}</td>
                                </tr>
                                <tr>
                                    <td class="event-icons"><i class="material-icons" data-position="left" data-delay="0" data-tooltip="Event Location">location_on</i></td>
                                    <td>
                                        {{ vm.event_data.venue.address.street }}<br />
                                        {{ vm.event_data.venue.address.city }},
                                        {{ vm.event_data.venue.address.province }}<br />
                                        {{ vm.event_data.venue.address.postal_code }}
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>

                        <div class="col m8 s12">
                            <!-- Google Maps -->
                            <div id="event-map"></div>
                            <div class="event-card-footer"><a href="{{ vm.get_googlemaps_link() }}" class="waves-effect waves-light btn" target="_blank">VIEW LARGER MAP</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- attendees -->
            <div class="col m3 s12" id="event-attendees">
                <div class="attendees-title">Attendees</div>
                <div class="attendees-list">
                    <div class="row valign-wrapper" ng-repeat="person in vm.get_confirmed_attendees()">
                        <div class="col s3"><img class="responsive-img circle" src="{{ vm.get_profile_img(person.profile_picture) }}"></div>
                        <div class="col s9">
                            <div class="attendee-name">{{person.name}}</div>
                            <div class="attendee-props">
                                {{ vm.display_props(person.props) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
