<!-- Signup Page -->
<div id="signup-container">
    <div class="container">

        <!-- header: logo and login -->
        <div class="row">

            <!-- logo (blue) -->
            <div class="logo-container col l2 m4 s4">
                <a href="/">
                    <img src="assets/images/5pm-logo-blue.png" width="100%" height="auto">
                </a>
            </div>

            <!-- signup and login -->
            <div class="signup-navigation align-right col l10 m8 s8">
                <!-- login -->
                <span class="signup-nav-text">Have an account?</span>
                <a href="/login" class="babyblue-font">LOG IN</a>

            </div>

        </div>

        <div class="spacer"></div>

        <!-- stepper -->
        <div class="signup-stepper">
            <div class="stepper-line"></div>
            <div class="step-1">
                <span class="steps">1</span>
                <div class="steps-description">Personal Information</div>
            </div>
            <div class="step-2">
                <span class="steps step-pending">2</span>
                <div class="steps-description">Personal Details</div>
            </div>
            <div class="step-3">
                <span class="steps step-pending">3</span>
                <div class="steps-description">Account Settings</div>
            </div>
        </div>

        <!-- instructions -->
        <div class="signup-instructions">
            <div class="signup-instructions-title">Fill in your details below.</div>
            <div class="signup-instructions-subtitle">All of your information is private unless you say so.</div>
        </div>

        <!-- personal information -->
        <div id="personal-information">
            <div class="row" ng-repeat="stage in signup.steps" ng-if="stage.stage == 1">
                <div class="col l2 m2 s4 offset-l2 offset-m2 align-right signup-label">{{ stage.value }}</div>
                <div class="col l4 m4 s8">
                    <input ng-if="stage.type == 'input'" type="text" class="signup-input" ng-model="signup[stage.key]">
                </div>
            </div>
        </div>
</div>
