<!-- Signup Page -->
<div id="signup-container">
    <div class="container">

        <!-- header: logo and login -->
        <div class="row">

            <!-- logo (blue) -->
            <div class="logo-container col l2 m4 s4">
                <a href="/">
                    <img src="assets/images/5pm-logo-blue.png" width="100%" height="auto">
                </a>
            </div>

            <!-- signup and login -->
            <div class="signup-navigation align-right col l10 m8 s8">
                <!-- login -->
                <span class="signup-nav-text">Have an account?</span>
                <a href="/login" class="babyblue-font">LOG IN</a>

            </div>

        </div>

        <div class="spacer"></div>

        <!-- stepper -->
        <div class="signup-stepper">
            <div class="stepper-line"></div>
            <div class="step-1">
                <span class="steps">1</span>
                <div class="steps-description">Personal Information</div>
            </div>
            <div class="step-2">
                <span class="steps step-pending">2</span>
                <div class="steps-description">Personal Details</div>
            </div>
            <div class="step-3">
                <span class="steps step-pending">3</span>
                <div class="steps-description">Account Settings</div>
            </div>
        </div>

        <!-- instructions -->
        <div class="signup-instructions">
            <div class="signup-instructions-title">Fill in your details below.</div>
            <div class="signup-instructions-subtitle">All of your information is private unless you say so.</div>
        </div>

        <!-- personal information -->
        <div id="personal-information">
            <div class="row signup-field-row valign-wrapper" ng-repeat="stage in signup.steps" ng-if="stage.stage == 1">
                <div class="col l2 m2 s4 offset-l2 offset-m2 align-right signup-label valign">{{ stage.value }}</div>
                <div class="col l4 m4 s8 valign signup-inputs">

                    <!-- first and last name -->
                    <input ng-if="stage.type == 'input'" type="text" class="signup-input" ng-model="signup[stage.key]">

                    <!-- birthday -->
                    <div class="date-selects valign-wrapper" ng-if="stage.type == 'date'">

                        <!-- month -->
                        <select ng-model="signup.birthday_month" class="browser-default signup-birthmonth valign">
                            <option value="" disabled selected>Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                        <!-- day -->
                        <input class="signup-birthday valign" type="number" placeholder="Day" min="1" max="31" ng-model="signup.birthday_day">

                        <!-- year -->
                        <input class="signup-birthyear valign" type="text" placeholder="Year" ng-model="signup.birthday_year">
                    </div>
                </div>
            </div>
        </div>
</div>
