.signup-navigation {
    margin-top: 35px;
    font-size: 18px;
}

.signup-nav-text {
    font-weight: 300;
    color: @uppergrey;
    margin-right: 30px;
}

.signup-navigation>a {
    font-weight: 700;
}

.spacer {
    margin: 10% 0;
}

.signup-stepper {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stepper-line {
    width: 100%;
    border-bottom: 1px solid @middlegrey;
}

@step-size: 40px;

.step-1, .step-2, .step-3 {
    display: inline-block;
    transform: translate3d(0,-20px, 0);
    background-color: @white;
}

.step-1 {
    float: left;
}

.step-3 {
    float: right;
}

.steps {
    display: inline-block;
    font-size: 16px;
    background-color: @babyblue;
    border-radius: 50%;
    font-weight: 700;
    height: @step-size;
    width: @step-size;
    margin-bottom: 10px;
    line-height: @step-size;
    color: @white;
}

.steps-description {
    color: @uppergrey;
}

.signup-instructions {
    margin: 30px 0;
    text-align: center;
    letter-spacing: 0.5px;
}

.signup-instructions-title {
    font-size: 20px;
    color: @darkgrey;
}

.signup-instructions-subtitle {
    font-size: 14px;
    color: @uppergrey;
}

#personal-information {
    padding: 30px 0;
    transition: all 0.5s ease-out;
}

.out-of-view {
    transform: translate3d(-100px,0,0);
    opacity: 0;
}

.signup-field-row {
    padding: 15px 0;
}

.col.signup-label {
    margin-left: 21% !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    color: #7f7f7f;
}

input.signup-input {
    height: auto;
    font-size: 16px;
    margin-bottom: 0;
    padding: 0 0 6px 0;
}

input.signup-input:focus,
input.signup-birthday:focus,
input.signup-birthyear:focus {
    border-bottom: 1px solid @babyblue !important;
    box-shadow: 0 1px 0 0 @babyblue !important;
}

div.signup-inputs {
    margin-left: 0 !important;
}

select.signup-birthmonth {
    display: inline-block;
    width: 150px;
    outline: none;
    padding: 0 10px;
    border: 1px solid @middlegrey;
    border-radius: 0;
}

select.signup-birthmonth>option:first-child {
    color: @middlegrey;
}

select.signup-birthmonth>option {
    color: @darkgrey;
    font-weight: 400;
}

input.signup-birthday {
    display: inline-block;
    width: 75px;
    outline: none;
    margin: 0 25px;
}

input.signup-birthyear {
    display: inline-block;
    width: 100px;
    outline: none;
    margin: 0;
}

.step-pending + .steps-description, .step-pending {
    opacity: 0.3;
    cursor: default;
    .user-select-none;
}

.signup-prev-button, .signup-next-button {
    font-size: 14px;
}

.step-pending {
    background-color: @uppergrey;
}
