<div class="container">
	<h2>Edit Event</h2>
	<section>
		<a ui-sref="admin.events">Events</a> > Event #{{vm.selectedEvent._id}}
	</section>

	<div class="right-align">
		<button class="btn red darken-4" name="Delete" value="Delete" ng-click="vm.delete_event()">Delete
		</button>
	</div>

	<h3>General</h3>
	<form class="col s12" name="createForm" ng-submit="vm.submit()">
		<div class="row">
			<div class="input-field col s12">
				<select ng-model="vm.selectedEvent.activity" ng-options="activity as activity.activity_name for activity in vm.allowed_activities track by activity.activity_name">
				</select>

				<label>Activity</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<select ng-model="vm.selectedEvent.venue" ng-options="venue as venue.venue_name for venue in vm.allowed_venues track by venue.venue_name">
				</select>
				<label>Venue</label>
			</div>
		</div>

		<div class="divider"></div>

		<h3>Users</h3>
		<div class="table-container">
			<div class="section">
				<h5>Activity Capacity: {{vm.selectedEvent.activity.allowed_capacity}}</h5>
				<div style="float:right">
					<a class="btn-floating btn-small waves-effect waves-light green right-align" ng-click="vm.add_users()">
						<i class="material-icons">add</i>
					</a>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Time in Queue</th>
						<th></th>
						<th></th>
						<th width="10%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="queue in vm.selectedEvent.user_queue">
						<td>{{queue.first_name + " " + queue.last_name}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="" ng-click="vm.remove_user_from_event(queue._id)"><i class="small material-icons">delete</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="divider"></div>

		<div class="section">
			<div class="row right-align">
				<button class="btn waves-effect waves-light" type="submit" name="action">Save
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>