<h2>Event Management</h2>
<div class="section" style="float:right">
	<a class="btn-floating btn-small waves-effect waves-light green right-align" ng-click="vm.createModal()">
		<i class="material-icons">add</i>
	</a>
</div>
<div class="section">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Activity</th>
				<th>Venue</th>
				<th>Location</th>
				<th>Capacity</th>
				<th>Queue Time (mins)</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in vm.events">
				<td>{{event._id}}</td>
				<td>{{event.activity}}</td>
				<td>{{event.venue.venue_name}}</td>
				<td></td>
				<td></td>
				<td>{{ (vm.currentTime - event.dt_search_start_time)/60000 | number:0}}</td>
				<td>{{event.status}}</td>
				<td>
					<a href="" ng-click="vm.editEvent(event._id)"><i class="small material-icons">mode_edit</i></a>
					<a href="" ng-click="vm.deleteEvent(event._id)"><i class="small material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>