<div class="container">
	<div ui-view>
		<h2>Event Management</h2>
		<div class="section" style="float:right">
			<a class="btn-floating btn-small waves-effect waves-light green right-align" ng-click="vm.eventModal()">
				<i class="material-icons">add</i>
			</a>
		</div>
		<div class="section">
			<input type="checkbox" ng-model="vm.showEndedEventsCheckBox" ng-change id="vm.showEndedEventsCheckBox" ng-click="vm.includeEndedEvents()">
			<label for="vm.showEndedEventsCheckBox">Show Ended Events</label>
		</div>
		<div class="section">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Activity</th>
						<th>Venue</th>
						<th>Capacity</th>
						<th>Queue Time</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in vm.events | filter:vm.eventListFilter">
						<td>{{event._id}}</td>
						<td>{{event.activity.activity_name}}</td>
						<td>{{event.venue.venue_name}}</td>
						<td>({{event.queue.length ? event.queue.length : 0}}) {{event.users.length ? event.users.length : 0}}/{{event.activity.allowed_capacity}}</td>
						<td>{{vm.getReadableDuration(vm.currentTime,event.dt_search_start)}}</td>
						<td>{{event.status}}</td>
						<td>
							<a ui-sref="admin.events.edit({ event_id: event._id })"><i class="small material-icons">mode_edit</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
