<div class="container">
	<h2>Admin Settings</h2>
	<form role="form">
		<div ng-repeat="settingsGroup in vm.adminSettings">
			<div class="section">
				<h3>{{settingsGroup.description}}</h3>
				<div class="row" ng-repeat="subgroup in settingsGroup.settings">
					<div class="input-field col s4" ng-repeat="setting in subgroup">
						<input value={{setting.value}}>
						<label class="active">{{setting.description}}</label>
					</div>
				</div>
			</div>
			<div class="divider"></div>
		</div>
	</form>
</div>