<div class="jumbotron text-center">
	<h1><span class="label label-info">{{ venues.length }}</span></h1>
</div>

<div class="table-container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Venue Name</th>
				<th>Venue Activity</th>
				<th>Street</th>
				<th>City</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="venue in venues">
				<td>{{ venue.venue_name }}</td>
				<td>{{ venue.activity }}</td>
				<td>{{ venue.address.street }}</td>
				<td>{{ venue.address.city }}</td>
				<td><input type="button" class="btn btn-danger btn-sm" value="Delete" ng-click="deleteVenue(venue._id)"></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="add-venue" class="row">
	<div class="panel panel-blue margin-bottom-40">
		<div class="panel-heading">
			<h3><i class="fa fa-tasks"></i> Add New Venue</h3>
		</div>
		<div class="panel-body">
			<form>
				<div class="form-group">
					<label>Venue Name</label>
					<input type="text" class="form-control" ng-model="formData.venue_name" required>
				</div>
				<div class="form-group">
					<label>Tags</label>
					<input type="text" class="form-control" ng-model="formData.tags" required>
				</div>
				<div class="form-group">
					<label>Street</label>
					<input type="text" class="form-control" ng-model="formData.street" required>
				</div>
				<div class="form-group">
					<label>City</label>
					<input type="text" class="form-control" ng-model="formData.city" required>
				</div>
				<div class="form-group">
					<label>Province/State</label>
					<input type="text" class="form-control" ng-model="formData.province" required>
				</div>
				<div class="form-group">
					<label>Postal Code</label>
					<input type="text" class="form-control" ng-model="formData.postal_code">                                         
				</div>

				<button type="submit" class="btn btn-primary btn-lg" ng-click="createVenue()">Add</button>
			</form>
		</div>
	</div>
</div>